/*estilos para html - aparte de bootstrap*/

header{
    background-color: white ;
    height: 130px;
    padding: 25px 10px; 
}
header img{
    padding-left: 40px;
}

nav{
    background-color: #33709d;
    
}
button{
    width:80px ;
}
.b1{
    background-color: orange;
    width: 200px;
}
.b1:hover{
    background-color: rgb(228, 149, 4);
    width: 200px;
}
.contenido1{
    text-align: justify;
}
section{
    overflow-y:scroll;
    height:700PX; 
}
.casos{/*estilo para casos de estudio*/
    border: 2px solid #33709d;
    border-radius: 10px;
    height: 100px;
}
.casos:hover {
    background: #33709d;
  }
  /*ajuste de contenido home- - posicion y animacion*/
  .confeti{
      position: absolute;
      z-index: 0;
  }
  .logo_animado {  
    animation:fadeInDown; /*referencia al keyframe*/
    animation-duration: 2s; /*duracion*/
  }
  .confeti img{
      width: 100%;
  }
.logo_animado img{
    width: 40%;
    margin: 25% 30%;
}

.nav-item:hover{
    background-color: #387fb3 ;
    border-radius: 10px;
}
.navbar-toggler{
    margin-top: 5px;
    margin-bottom: 10px;
}
.nav-item{
    padding-right: 20px;
}



/*lista desplegable con hover- acordeon*/
ul.acorh {
margin: 10px auto;
margin-left: 20px;
width: 100%;
font-size: 15px;
list-style-image: url("/img/Bullet2.png");
}
.sin_list{
    list-style-image: url("/img/Bullet1.png");
}
.acorh li a:hover{
    background-color: orange;
    border-radius: 20px;
}
ul.acorh li a {
display: block;
padding: 10px 10px 10px 20px; /*espaciado entre elemntos de lista y elementos*/
color: black;
text-decoration: none;
}
.ind {
 font-weight: bold;/*elemnto principal con negritas*/
}
ul.acorh li ul {
max-height: 0;/*oculta listas*/
overflow: hidden;
transition: .3s all ease-in;
list-style-image: url("/img/Bullet1.png");
}

ul.acorc li li:last-child a {
border-bottom: 0;
}
ul.acorh li:target ul {
    max-height: 300px;/*altura de lista*/
    transition: .3s all ease-in;
}

    