/*estilos para html - aparte de bootstrap*/

header{
    background-color: white ;
    height: 130px;
    padding: 20px 10px; 
}
header img{
    padding-left: 40px;
    height: 75px;
}

nav{
    
    background-color: #33709d;
}
button{
    width:80px ;
}
.b1{
    background-color: orange;
    width: 200px;
}
.b1:hover{
    background-color: rgb(228, 149, 4);
    width: 200px;
}
.contenido1{
    text-align: justify;
}
section{
    overflow-y:scroll;
    height:700PX;
    
}
.casos{/*estilo para casos de estudio*/
    
        border: 2px solid #33709d;
        border-radius: 10px;
        height: 100px;
}
.casos:hover {
    background: #33709d;
  }


  /*ajuste de contenido home- - posicion y animacion*/

  .confeti{
      position: absolute;
      z-index: 0;
  }

  .logo_animado {  
      padding: 25% 30%;
    animation:fadeInDown; /*referencia al keyframe*/
    animation-duration: 3s; /*duracion*/
  }

/*lista desplegable con hover- acordeon*/
ul.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}
ul.acorh {
margin: 10px auto;
padding: 0;
width: 100%;
font-size: 15px;
}
.acorh li {
    padding-left: 5px;
    list-style-image: url("/img/Bullet3.png");
}
.ind li{

    list-style-image: url("/img/Bullet2.png");
}

ul.acorh li a {
display: block;
padding: 10px 10px 10px 20px;
color: black;
text-decoration: none;
box-sizing: border-box;
}
.ind {
 font-weight: bold;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .3s all ease-in;
}
ul.acorh li li a {
padding: 10px 10px 10px 40px;
font-size: 16px;
border: 0;
box-sizing: border-box;
}
ul.acorc li li:last-child a {
border-bottom: 0;
}
ul.acorh li:target ul {
    max-height: 300px;
    transition: .3s all ease-in;
    }