@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap');

.casos-nav{
	transition: background-color .3s linear;
    cursor: pointer;
    border-radius: 20px;
    padding-top: 10px;
    text-decoration:none;
}
.casos-nav:hover{
    background-color: #33709d;
}

.vista1{
    z-index: 1;

}
#close img{
    width: 25px;
    z-index: 3;
    position: absolute;
}
#close img:hover{
    width: 40px;
 
}
.flotante{
    z-index: 2;
    text-align: justify;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    position: absolute;
}
